body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

/* todo: maybe customize li */
li {
    margin-right: 5px;
}

.center {
    margin: auto;
    width: 100%;
    text-align: center;
}

.no-padding{
    padding: 0px;
}

.display-inline{
    display: inline;
}
  
.app {
}
